body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.create-account-container {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.create-account-form {
    display: flex;
    flex-direction: column;
}
.create-account-form input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.create-account-form button {
    padding: 10px 20px;
    background-color: #7f7f7f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.create-account-form button:hover {
    background-color: #64b2ff;
}
.error-message {
    color: red;
    font-size: 12px;
    margin: 10px 0;
}